<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />

</head>
<body>
	<div>
		<h4 class="title">Inserisci una nuova attivita</h4>
		<p th:text="${exists}"></p>
	</div>
	<form th:action="@{/attivita}" method="POST" th:object="${attivita}">
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{nome}" /></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
			</tr>		
			<tr>
				<td>Data e ora:</td>
				<td><input type="date" th:field="*{dataSvolgimento}" /></td>
				<td th:if="${#fields.hasErrors('dataSvolgimento')}" th:errors="*{dataSvolgimento}"></td>
			</tr>	
			<tr>
				<td><button type="submit">Inserisci</button></td>
			</tr>
		</table>
	</form>
</body>
</html>