<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello' + '!'" />
    <a th:href="@{/showAttivita}">Vai alle attivita della giornata</a>
    <a th:href="@{/addAllievo}">Registra un nuovo allievo</a>
    <a th:href="@{/allievi}">Lista degli allievi iscritti</a>
</body>
</html>